///*----------------------------------*\
//  #COLORS
//\*----------------------------------*/

// Set up a colour palette which allows us to theme the entire project from one
// location.

// Colour palette.

$color-accent: #30ce91;
$color-primary: #3f9ebe;
$color-secondary: #2d3f55;
$color-tertiary: #3c5473;

$color-text: rgba(255, 255, 255, 0.75);
$color-secondary-text: #b5c5d9;

$color-input-text: #575757;
$color-input-bg: #ececec;
$color-input-placeholder: $color-input-text;

// Reassign literal variables to meaningful ones.
$color-page-text: $color-text;
$color-page-background: #202020;

$color-links: $color-primary;
$color-links-hover: $color-tertiary;

$color-page-head: #fff;
$color-page-head-background: $color-secondary;

$color-masthead-background: $color-primary;

$color-btn: #fff;
$color-btn-background: $color-primary;
$color-btn-background-hover: $color-tertiary;
$color-btn-secondary: #fff;
$color-btn-secondary-background: $color-secondary;
$color-btn-secondary-background-hover: $color-tertiary;

$color-page-foot: #fff;
$color-page-foot-background: $color-secondary;
