/*------------------------------------*\
  #HEADLINE
\*------------------------------------*/

.headline {
  margin-bottom: 3.2rem;
  color: #fff;
}

.headline--masthead {
  font-size: $global-masthead-max-font-size;
  line-height: $global-masthead-max-line-height;
  font-weight: $global-masthead-font-weight;
  letter-spacing: $global-masthead-letter-spacing;

  @media(max-width: 1200px) {
    font-size: $global-masthead-font-size;
    line-height: $global-masthead-line-height;
  }

  @media(max-width: 580px) {
    font-weight: 400;
  }

  // @media(max-width: 768px) {
  //   font-size: 5rem;
  // }

  // @media(max-width: 580px) {
  //   font-size: 3.5rem;
  // }
}

.headline--eyebrow {
  font-size: $global-eyebrow-font-size;
  line-height: $global-eyebrow-line-height;
  font-weight: $global-eyebrow-font-weight;
  letter-spacing: $global-eyebrow-letter-spacing;
  text-transform: uppercase;
  margin: {
    top: 1rem;
    bottom: 1rem;
  }
}

.headline--tail {
  position: relative;
  &:before {
    content: '';
    background: rgba(255,255,255,.3);
    position: absolute;
    left: -6.4rem;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: 4rem;
  }
}

.headline--h1 {

}

.headline--h2 {
  font-size: $global-h2-font-size;
  line-height: $global-h2-line-height;
  font-weight: $global-h2-font-weight;
  margin: {
    bottom: 1.64rem;
  }

  @media(max-width: 580px) {
    font-size: $global-h2-mobile-font-size;
    line-height: $global-h2-mobile-line-height;
    margin: {
      bottom: 1.4rem;
    }
  }
}

.headline--h3 {
  font-size: $global-h3-font-size;
  line-height: $global-h3-line-height;
  font-weight: $global-h3-font-weight;
  margin-bottom: 1.28rem;
}

.headline--h4 {
  font-size: $global-h4-font-size;
  line-height: $global-h4-line-height;
  font-weight: $global-h4-font-weight;
  margin-bottom: 2.0rem;
}

.headline--h5 {

}

.headline--h6 {

}
