.carousel {

  &__controls {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    > div {
      background-color: #202020;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 8.0rem;
      width: 8.0rem;
      overflow: hidden;
      position: relative;
      transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);

      &:before,
      &:after {
        content: '';
        background: #110f10;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        transform: translate3d(0, 0, 0);
      }

      &:after {
        transform: translate3d(100%, 0, 0);
        transition: transform 0.3s cubic-bezier(0.72, 0.16, 0.345, 0.875);
        opacity: 1;
      }

      &:before {
        transform: translate3d(-100%, 0, 0);
        opacity: 0;
      }

      &:hover {
        cursor: pointer;
        color: #fff;
        &:before {
          transition: transform 0.3s cubic-bezier(0.72, 0.16, 0.345, 0.875);
          opacity: 1;
        }

        &:after {
          transition: none;
          opacity: 0;
        }

        &:before,
        &:after {
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  &__prev-button {

  }

  &__next-button {

  }
}
